# Copyright (c) 2023, The Linux Foundation. All rights reserved.

import /init.recovery.trustonic.rc

on init
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice
    export LD_LIBRARY_PATH /system/lib64:/vendor/lib64:/vendor/lib64/hw
    setprop ro.boot.build.security_patch 2099-12-31

on fs
    install_keyring

service keystore_auth /system/bin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /system/bin/keystore /tmp/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

on post-fs
    start boot-hal-1-1

on boot
    start health-hal-2-1

service vendor.keymaster-4-0-trustonic /system/bin/android.hardware.keymaster@4.0-service.trustonic
    user root
    group root drmrpc
    disabled
    seclabel u:r:recovery:s0

service vendor.gatekeeper-1-0 /system/bin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service keymaster_attestation-1-1 /system/bin/vendor.mediatek.hardware.keymaster_attestation@1.1-service
    interface vendor.mediatek.hardware.keymaster_attestation@1.0::IKeymasterDevice default
    interface vendor.mediatek.hardware.keymaster_attestation@1.1::IKeymasterDevice default
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service tee-1-1 /system/bin/vendor.trustonic.tee@1.1-service
    user root
    group root
    seclabel u:r:recovery:s0
    
service soter_hal /system/bin/vendor.trustonic.tee@1.1-service
    user root
    group root
    seclabel u:r:recovery:s0

on property:ro.crypto.state=encrypted && property:ro.crypto.type=file
    start mobicore

on property:sys.listeners.registered=true && property:vendor.sys.listeners.registered=true
    start mobicore
    start vendor.keymaster-4-0-trustonic
    start vendor.gatekeeper-1-0
    start keymaster_attestation-1-1
    start tee-1-1
    start soter_hal

on property:hwservicemanager.ready=true
    start mobicore
    start vendor.keymaster-4-0-trustonic
    start vendor.gatekeeper-1-0
    start keymaster_attestation-1-1
    start tee-1-1
    start soter_hal

on property:twrp.all.users.decrypted=true
    stop mobicore
    stop vendor.keymaster-4-0-trustonic
    stop vendor.gatekeeper-1-0
    stop keymaster_attestation-1-1
    stop tee-1-1
    stop soter_hal
